* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--radius: 5px;
	--input_padding: 5px 10px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #b0d8cf;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
/* ===== Main Container ======= */

.main-container,
.reload_text_container {
	max-width: 90vw;
	min-width: 50vw;
	background-color: #fff;
	padding: 2rem 2rem;
}

.main-container h1,
.reload_text_container h1 {
	text-align: center;
	color: #111740;
	letter-spacing: 1px;
	font-size: 2rem;
}

.main-container form > div {
	margin: 1.5rem 0;
}

.main-container form input,
.main-container form select {
	width: 100%;
	padding: var(--input_padding);
	margin: 0.4rem 0;
	color: #02040f;
	background-color: #d6ebe6;
	border-radius: var(--radius);
	border: 0;
}

.main-container form label {
	display: block;
	font-size: 0.9rem;
	color: #111740;
	font-weight: bold;
}

.main-container .start_btn {
	width: 100%;
	background-color: #ff1d15;
}

.main-container .start_btn,
.next_btn,
.question_container p,
.reload_btn {
	display: block;
	text-align: center;
	border-radius: var(--radius);
	padding: var(--input_padding);
	border: 0;
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
}

/* ====== Loading ======= */
.spin-container {
	background: none;
}

.spinner {
	width: 100px;
	height: 100px;
	animation: rotating 2s linear infinite;
}

@keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* ====== QUESTIONS ====== */
.question_container {
	padding: 1rem 0.7rem;
}

.question_container h1 {
	margin-bottom: 1.5rem;
}

.question_container p {
	max-width: 60%;
	margin: 1rem auto;
	background-color: #3277dd;
	text-align: center;
	font-size: 1.2rem;
	color: #fff;
}

.question_container p:hover {
	background-color: #4683df;
}

.btn_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.reload_btn_container {
	justify-content: center;
}

.next_btn,
.reload_btn {
	margin: 1.5rem 0;
	background-color: #053c5e;
	padding: var(--input_padding);
}

.correct_answers {
	display: block;
	text-align: center;
	font-size: 1.5rem;
	color: #111740;
	letter-spacing: 2px;
}

/* ===== RELOAD ====== */
.reload_container {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}

.reload_text_container {
	justify-content: center;
	background-color: #fff;
	z-index: 100;
	text-align: center;
	border-radius: var(--radius);
}

.trophy-icon {
	color: yellow;
	font-size: 2rem;
}
